@page "/coffees"
@inherits CoffeeComponent


<TitleComponent Title="Coffees"></TitleComponent>
<DateComponent></DateComponent>
@* @if(@coffeeName == null) {
    <p>Loading Coffee......</p>
} else {
    @coffeeName
} *@



@code{

    public string coffeeListSize;

    protected override async Task OnInitializedAsync()
    {
        coffeeListSize = await SearchedForCoffeeAsync();
        base.OnInitialized();
    }

}